body {
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: Normal;
  font-size: 50px;
  color: white;
}

h3 a {
  color: Aquamarine;
  font-size: 16px;
}

.verdana {
  font-family: Verdana;
}
